@font-face {
    font-family: $roboto-regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: $roboto-bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: $lato-regular;
    src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: $lato-bold;
    src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
}

body {
    font-family: $lato-regular;
    font-size: $small;
    background-color: $white;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span,
td,
th,
ul,
input {
    font-family: $lato-regular;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

.pad-0 {
    padding: 0;
}

.pad-r-0 {
    padding-right: 0;
}

.pad-l-0 {
    padding-left: 0;
}

.pad-t-0 {
    padding-top: 0;
}

.pad-b-0 {
    padding-bottom: 0;
}

.pad-0 {
    padding: 0;
}

.mar-0 {
    margin: 0;
}

@mixin hover-color($color) {
    color: darken($color, 20%);
}

%background-image {
    background-size: cover;
    background-position: 50%;
}

%background-dark {
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}

%product-item {
    margin-bottom: 60px;

    img {
        @extend %background-image;
        width: 100%;
    }

    .prod-name a,
    .prod-price {
        font-family: $lato-bold;
        font-size: $medium;
    }
    .prod-name a:hover {
        color: $red;
    }

    .prod-price {
        color: $red;
    }

    .prod-star i:hover,
    .prod-star i:focus {
        cursor: pointer;
        color: $red;
    }
}

%paginate {
    text-align: center;

    ul {
        overflow: hidden;
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;

        li {
            float: left;
            padding: 0 25px;

            .active {
                color: $red;
            }

            a {
                color: $black;
                font-size: $medium;
            }

            a:hover,
            a:focus {
                color: $red;
                text-decoration: none;
            }
        }
    }
}

%number-style {
    input {
        margin-top: 60px;
        @media(max-width: 991px) {margin-top: 0px;}
        display: inline-block;
        width: 30px;
        vertical-align: middle;
        text-align: center;
        border: none;
        font-size: 15px;
        color: #000000;
        border: 1px solid #cccccc;
    }

    span {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        /*border-radius: 50%;*/
        background-color: #cccccc;
        margin: 0 0;
        cursor: pointer;
    }

    span.number-minus {
        margin-top: 60px;
        @media(max-width: 991px) {margin-top: 0px;}
        /*border: 2px solid #fe0021;*/
    }

    span.number-minus::after {

        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -1px 0 0 -5px;
        width: 10px;
        height: 2px;
        background-color: white;
    }

    span.number-plus {
        margin-top: 60px;
        @media(max-width: 991px) {margin-top: 0px;}
        /*border: 2px solid #00fe02;*/
    }

    span.number-plus::after {

        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -5px;
        width: 10px;
        height: 2px;
        background-color: white;
    }

    span.number-plus::before {

        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -1px;
        width: 2px;
        height: 10px;
        background-color: white;
    }

    span.disabled {
        border: 2px solid #a4a3a0;
    }

    span.disabled::after,
    span.disabled::before {

        background-color: #a4a3a0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

@mixin transition($property) {
    -webkit-transition: $property 0.2s ease;
    -moz-transition: $property 0.2s ease;
    -ms-transition: $property 0.2s ease;
    -o-transition: $property 0.2s ease;
    transition: $property 0.2s ease;
}

.flex-box {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.flex-content-center {
    justify-content: center;
}

.flex-content-left {
    justify-content: flex-start;
}

.flex-column {
    flex-direction: column;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

%page-banner {
    .banner {
        @extend %background-image;
        @extend %background-dark;
        height: 15.66vw;
    }

    .banner {
        @media (max-width: 767px) {
            height: 120px;
        }
    }

    .banner-title-wrapper {
        height: 100%;
    }

    .banner-title {
        font-family: $lato-bold;
        font-size: 24px;
        color: $white;
        margin: 0;
        line-height: 1.4;
    }

    .banner-title .current-page {
        font-family: $lato-bold;
        color: $red;
    }
}

%section-title {
    .title-wrapper {
        margin-top: 21px;
        margin-bottom: 32px;
    }

    .title {
        text-transform: uppercase;
        font-family: $lato-bold;
        font-size: $medium;
        padding: 15px 0px 15px 16px;
        margin: 0;
        border-left: 14px solid $red;
    }
}

%news-blog-small {
    .news-box-small {
        margin-bottom: 47px;
    }

    .news-box-small {
        .box-image {
            @extend %background-image;
            width: 47%;
            height: 254px;
        }

        .box-description {
            color: $black;
            width: 53%;
        }

        .box-description .content-wrapper {
            padding-left: 16px;
        }

        .box-description .content-date {
            font-size: 15px;
            margin: 8px 0px 0px;
        }

        .box-description .content-title {
            margin: 0;
        }

        .box-description .content-title>a {
            font-family: $lato-bold;
            font-size: 16px;
            text-transform: uppercase;
            margin: 16px 0px 0px;
            line-height: 1.4;
            height: 42px;
            overflow: hidden;
            text-overflow: ellipsis;
            @include transition(color);
        }

        .box-description .content-title>a {
            @media (min-width: 320px) and (max-width:567px) {
                font-size: 13px;
                height: 54px;
                line-height: 1.5;
            }

            @media (min-width:768px) and (max-width:1199px) {
                height: 64px;
            }
        }

        .box-description .content-title>a:hover,
        .box-description .content-title>a:focus {
            color: $blog-title-hover-color;
        }

        .box-description .content-description {
            font-size: 15px;
            margin: 23px 0px 0px;
            height: 126px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

%submit-btn {
    border: 0;
    padding: 11px 19px;
    background: $red;
    color: $white;
    font-size: 18px;
    @include transition(background);

    &:hover,
    &focus {
        background: #c80202;
    }
}
