$small: 14px;
$medium: 16px;
$large: 18px;

$roboto-regular: 'roboto-regular';
$roboto-bold: 'roboto-bold';
$lato-regular: 'lato-regular';
$lato-bold: 'lato-bold';

$text-color-footer: #ffffff;
$white: #fff;
$black: #000;
$red: #ed1c24;
$grey: #c2c2c2;

$menu-background-color: $white;
$menu-hover-color: $grey;
$menu-text-color: $black;
$menu-login-hover-color: $red;
$menu-icon-color: $black;
$menu-icon-hover-color: $white;
$menu-icon-background-hover-color: $black;

$blog-title-hover-color: $red;
