.footer {
    background-color: #000000;
    color: $text-color-footer;
    padding-bottom: 35px;
    .logo-footer {
        margin-top: 20px
    }
    .infomations {
        @media(max-width: 767px){
            padding: 0;
        }
        .menu-footer {
            margin-top: 20px;
        }
        .menu-footer ul {
            overflow: hidden;
            padding: 0;
            list-style: none;
            border-bottom: 1px solid $text-color-footer;
        }
        .menu-footer ul li {
            float: left;
            padding: 20px 40px;
        }
        .menu-footer ul li a {
            font-family: $roboto-regular;
            font-size: $small;
            color: $text-color-footer;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
        .info {
            padding-top: 25px;
        }
        .info .support p,
        .stores p,
        .phone-email-follow p {
            font-family: $lato-regular;
            font-size: 17px;
            margin-bottom: 6px;
        }
        .info .support a {
            color: $text-color-footer;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        .logo-footer {
            text-align: center;
        }
        .infomations {
            .menu-footer {
                margin-top: 0;
            }
            .menu-footer ul li {
                padding-left: 30px;
                padding-right: 30px;
            }
            .info .support,
            .stores,
            .phone-email-follow {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .logo-footer {
            display: none;
        }
        .infomations {
            .menu-footer {
                display: none;
            }
        }
    }
}