.header {
    background: $menu-background-color;
    color: $menu-text-color;
}

.header {
    a,
    li,
    span {
        font-family: $roboto-regular;
    }

    .logo-image {
        float: left;
    }

    .login-wrapper {
        text-align: right;
    }

    .login-wrapper .item {
        display: inline-block;
        padding: 17px 0px;
        @include transition(color);
    }

    .login-wrapper .item:hover,
    .login-wrapper .item:focus {
        color: $menu-login-hover-color;
    }

    .navbar-toggle {
        float: left;
        margin: 0px 0px 8px 0px;
    }

    .navbar-toggle .icon-bar {
        background: $menu-text-color;
    }

    .menu-wrapper.navbar-collapse {
        padding: 0;
        margin-top: 40px;
    }

    .menu-mobile {
        display: inline-block;
        float: right;
    }

    .menu-list {
        text-align: right;
        padding: 0;
        margin-bottom: 27px;
    }

    .menu-list .menu-item,
    .menu-list .menu-item>a {
        display: inline-block;
    }

    .menu-list .menu-item {
        list-style-type: none;
    }

    .menu-list .menu-item>a {
        text-transform: uppercase;
        padding: 12px 9px;
        margin-right: 65px;
        @include transition(background);
    }

    .menu-list .menu-item>a:hover,
    .menu-list .menu-item>a:focus {
        background: $menu-hover-color;
    }

    .menu-list .menu-item.icon>a {
        font-size: 16px;
        padding: 6px 10px;
        border: 1px solid $menu-icon-color;
        margin-right: 0;
        @include transition(color);
        @include transition(background);
    }

    .menu-list .menu-item.icon>a:hover,
    .menu-list .menu-item.icon>a:focus {
        color: $menu-icon-hover-color;
        background: $menu-icon-background-hover-color;
    }

    .menu-list .menu-item.icon.shopping-cart {
        position: relative;
    }

    .menu-list .menu-item.icon.shopping-cart>a {
        margin-left: 15px;
    }

    .shopping-cart-notification {
        position: absolute;
        bottom: 21px;
        right: -8px;
        padding: 0px 5px;
        font-size: $medium;
        font-family: $lato-bold;
        color: $menu-icon-hover-color;
        background: $menu-login-hover-color;
    }

}

@media (min-width:768px) {
    .header {
        .menu-mobile {
            display: none;
        }

    }

}

@media (max-width:1199px) {
    .header {
        .menu-list .menu-item>a {
            margin-right: 40px;
        }

    }

}

@media (max-width:991px) {
    .header {
        .logo-image {
            float: none;
            margin: 0 auto;
        }

    }

}

@media (max-width:767px) {
    .header {
        .menu-wrapper .menu-list {
            text-align: left;
        }

        .menu-wrapper .menu-list .menu-item,
        .menu-wrapper .menu-list .menu-item>a {
            display: block;
        }

        .menu-wrapper .menu-list .menu-item>a {
            margin-right: 0;
        }

        .menu-wrapper .menu-list .menu-item.icon {
            display: none;
        }

    }

}
