.detail-product-wrapper {
    padding-top: 40px;
    .banner-section {
        padding: 100px 170px;
        @extend %background-image;
        @extend %background-dark;
        width: 100%;
        margin-bottom: 35px;
        p a,
        p {
            color: $white;
            font-family: $lato-bold;
            font-size: 24px;
        }
        p .active {
            color: $red;
        }
    }
    .slidebar-section {
        .items {
            border: 1px solid #999999;
            text-align: center;
            margin-bottom: 15px;
        }
        .items img {
            @extend %background-image;
        }
    }
    .main-image-section {
        .items {
            border: 1px solid #999999;
            text-align: center;
            margin-bottom: 80px;
        }
        .items img {
            margin: auto;
            @extend %background-image;
        }
    }
    .detail-section {
        h1 {
            font-family: $lato-bold;
            font-size: 30px;
            color: $red;
            text-transform: uppercase;
        }
        p {
            font-family: $lato-bold;
            font-size: 18px;
        }
        p span {
            font-family: $lato-regular;
        }
        hr {
            border: 0;
            color: #999999;
            background-color: #999999;
            height: 1px;
            width: 100%;
            text-align: left;
        }
        .price {
            margin-bottom: 30px;
        }
        .price span {
            color: #ed1c24;
            font-size: 36px;
            font-family: $lato-bold;
        }
        p .number {
            width: 65px;
            height: 25px;
            font-family: $lato-regular;
            padding-left: 15px;
            margin-left: 15px;
        }
        .size {
            span {
                border: 1px solid #999999;
                padding: 0 15px;
                &:first-child() {
                    margin-left: 59px;
                }
            }
            span:hover,
            span:focus {
                cursor: pointer;
                border: 1px solid $red;
            }
        }
        .pay {
            float: left;
            display: block;
            width: 140px;
            height: 50px;
            background-color: $red;
            line-height: 50px;
            text-align: center;
            color: $white;
            font-size: 18px;
            font-family: $lato-bold;
            margin-top: 20px;
        }
        .pay:hover,
        .pay:focus {
            background-color: darken($red, 20%);
        }
        .add {
            margin-top: 20px;
            float: left;
            display: block;
            width: 190px;
            height: 50px;
            background-color: black;
            line-height: 50px;
            text-align: center;
            color: $white;
            font-size: 18px;
            font-family: $lato-bold;
            margin-left: 20px;
            @media(max-width: 1024px) {
                margin-left: 0;
            }
            @media(max-width: 991px) {
                margin-left: 20px;
            }
        }
        .add:hover,
        .add:focus {
            background-color: grey;
        }
    }
    .content-section {
        ul {
            text-align: center;
        }
        ul li {
            display: inline-block;
            float: none;
        }
        ul li a {
            font-size: 18px;
        }
        ul li a:hover,
        ul li a:focus {
            color: $red;
        }
        .nav>li>a:focus,
        .nav>li>a:hover {
            text-decoration: none;
            background-color: $white;
            border: none;
        }
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:focus,
        .nav-tabs>li.active>a:hover {
            cursor: default;
            background-color: $white;
            border: none;
        }
        .tab-content {
            margin-bottom: 100px;
        }
        .tab-content p {
            line-height: 30px;
            margin-top: 25px;
            font-size: 16px;
        }
    }
    .relate{
        p{

           margin-bottom: 20px;
           padding: 10px 15px;
           font-family: $lato-bold;
           font-size: $medium;
           border-left: 10px solid $red;
           text-transform: uppercase;
       }
   }
   .related-products-section {
    padding: 0;
    h1 {
        margin-left: 15px;
        margin-bottom: 20px;
        padding: 10px 15px;
        font-family: $lato-bold;
        font-size: $medium;
        border-left: 10px solid $red;
        text-transform: uppercase;
    }
        #icon-prev{
            position: absolute;
            top: 40%;
            border: solid 1px grey;
            border-radius: 50%;
            padding: 3px 5px;
            cursor: pointer;
            left: -30px;
        }
        #icon-next{
            cursor: pointer;
            position: absolute;
            top: 40%;
            border: solid 1px grey;
            border-radius: 50%;
            padding: 3px 5px;
            right: -15px;
        }
    .product {
        .prod-name a,
        .prod-price {
            font-family: $lato-bold;
            font-size: $medium;
        }
        .prod-name a:hover {
            color: $red;
        }

        .prod-price {
            color: $red;
        }

        .prod-star i:hover,
        .prod-star i:focus {
            cursor: pointer;
            color: $red;
        }
        // @extend %product-item;
        img:hover{
            border: 1px solid silver;
        }
        img{
            background-size: cover;
                        
        }
    }
}
}

@media(max-width: 1199px) {
    .detail-product-wrapper .detail-section .add {
        margin-left: 0;
    }
}

@media(max-width: 991px) {
    .detail-product-wrapper .related-products-section .product {
        text-align: center;
    }
    .detail-product-wrapper .related-products-section .product img {
        margin: auto;
    }
    .detail-product-wrapper .detail-section .add {
        margin-left: 15px;
    }
    .detail-product-wrapper .detail-section img {
        margin-top: 20px;
        margin-left: 15px;
    }
}

@media(max-width: 767px) {
    .detail-product-wrapper .banner-section {
        padding: 50px 15px;
    }
}

@media(max-width: 680px) {
    .detail-product-wrapper .detail-section .add {
        margin-left: 2px;
    }
}

@media(max-width: 418px) {
    .detail-product-wrapper .detail-section h1 {
        font-size: 25px;
        margin-top: 0;
    }
    .detail-product-wrapper .detail-section .add {
        margin-left: 0;
    }
    .detail-product-wrapper .content-section ul {
        text-align: center;
        margin-top: 30px;
    }
    .detail-product-wrapper .content-section ul li {
        &:first-child() {
            width: 20%;
        }
        &:nth-child(2) {
            width: 30%;
        }
    }
    .detail-product-wrapper .content-section ul li a {
        font-size: 14px;
        padding: 0;
    }
}