.home-wrapper {
    .banner-section {
        img {
            @extend %background-image;
            width: 100%;
        }
    }

    .menu-section {
        margin: 30px 0;
        .menu-left {
            .jacket-denim-tshirt,
            .jogger-pants,
            .sneaker {
                @extend %background-image;
                @extend %background-dark;
                margin-bottom: 30px;
            }
            .jacket-denim-tshirt p {
                padding: 60px;
            }
            .jacket-denim-tshirt p a,
            .jogger-pants p a,
            .sneaker p a {
                font-size: 60px;
                color: $white;
            }
            .jacket-denim-tshirt p a:hover,
            .jacket-denim-tshirt p a:focus,
            .jogger-pants p a:hover,
            .jogger-pants p a:focus,
            .sneaker p a:hover,
            .sneaker p a:focus {
                @include hover-color($white);
            }
            .jogger-pants,
            .sneaker {
                height: 370px;
            }
            .jogger-pants p,
            .sneaker p {
                padding: 30px 60px 0px 60px;
            }
        }
        .menu-right {
            .stylistic {
                @extend %background-image;
                @extend %background-dark;
            }
            .stylistic p {
                padding: 430px 60px 261px 60px;
            }
            .stylistic p a {
                font-size: 60px;
                color: $white;
            }
            .stylistic p a:hover,
            .stylistic p a:focus {
                @include hover-color($white);
            }
        }
    }

    .featured-products-section {
        h1 {
            margin-left: 15px;
            margin-bottom: 20px;
            padding: 10px 15px;
            font-family: $lato-bold;
            font-size: $medium;
            border-left: 10px solid $red;
            text-transform: uppercase;
        }
        .product {
            @extend %product-item;
        }
        .paginate {
            @extend %paginate;
            margin-bottom: 50px;
        }
    }

    .sale-section {
        @extend %background-image;
        margin-bottom: 50px;
        .discount {
            padding: 40px 30px 50px 30px;
            background-color: $white;
            @media(max-width: 767px) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .discount h1 {
            font-size: 24px;
            margin-bottom: 30px;
        }
        .discount .content {
            font-size: $small;
            margin-bottom: 40px;
        }
        .discount .time {
            border: 1px solid black;
            padding: 0 15px;
            @media(max-width: 1199px) {
                padding: 0;
            }
            margin-bottom: 40px;
        }
        .discount .time a {
            display: inline-block;
            font-size: $large;
            color: $black;
            padding: 20px 15px;
            @media(max-width: 1199px) {
                padding: 20px 7px;
            }
        }
        .discount .time a:hover,
        .discount .time a:focus {
            text-decoration: none;
            @include hover-color($black);
        }
        .discount .shop-now {
            width: 170px;
            height: 60px;
            display: block;
            text-align: center;
            line-height: 60px;
            background-color: $red;
            font-size: 24px;
            color: $white;
        }
        .discount .shop-now:hover,
        .discount .shop-now:focus {
            text-decoration: none;
            background-color: darken($red, 20%);
        }
    }

    .selling-prod-section {
        .selling-top .title h1 {
            margin-bottom: 20px;
            padding: 10px 15px;
            font-family: $lato-bold;
            font-size: $medium;
            border-left: 10px solid $red;
            text-transform: uppercase;
        }
        .selling-top .categories label {
            position: relative;
            width: 130px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: $red;
            color: $white;
            text-transform: uppercase;
            font-family: $lato-bold;
            font-size: $medium;
        }
        .selling-top .categories select {
            position: absolute;
            top: 0;
            left: 130px;
            width: 300px;
            height: 40px;
            text-align: center;
            text-align-last: center;
            font-family: $lato-bold;
            font-size: $medium;
            margin-left: -7px;
        }
        .products {
            overflow: hidden;
        }
        .products .product {
            @extend %product-item;
        }
    }
    .fashion-blog-section {
        padding-bottom: 70px;
        h1 {
            margin-left: 15px;
            margin-bottom: 60px;
            padding: 10px 15px;
            font-family: $lato-bold;
            font-size: $medium;
            border-left: 10px solid $red;
            text-transform: uppercase;
        }
        .blog {
            overflow: hidden;
        }
        .blog img {
            float: left;
            width: 100%;
            background-repeat: no-repeat;
            @extend %background-image;
        }
        .blog .blog-body {
            padding-left: 10px;
        }
        .blog .blog-body .title {
            font-family: $lato-bold;
            font-size: $medium;
            text-transform: uppercase;
        }
        .blog .blog-body .date,
        .blog .blog-body .content {
            font-size: 15px;
        }
        .blog .blog-body .content {
            max-height: 190px;
            overflow: hidden;
            @media(max-width: 1199px) {
                max-height: 110px;
            }
        }
    }

    .banner-footer-section {
        @extend %background-image;
        @extend %background-dark;
        width: 100%;
        text-align: center;
        height: 460px;
        p {
            padding: 200px;
            color: $white;
            font-size: 48px;
            text-transform: uppercase;
            font-family: $lato-bold;
        }
        p a:hover,
        p a:focus {
            text-decoration: none;
            @include hover-color($white);
        }
    }
    .register{
        border: 2px solid silver;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 40px 0;
        .p1{
            font-weight: bold;
            font-size: 22px;
            color: #EE3138;
        }
        .register_mail{
            padding-left: 60px;
        }
        .form_mail{
            padding-right: 60px;
            input{
                height: 44px;
                width: 85%;
                color: silver;
                padding-left: 10px;
                margin-right: -4px;
            }
            button{
                background-color: black;
                height: 44px;
                border: none;
                color: white;
                padding-top: 12.5px;
                padding-bottom: 11.5px;
                width: 10%;
            }
        }
    }
}

@media(max-width: 1024px) {
    .home-wrapper {
        .menu-section {
            .menu-left .jacket-denim-tshirt p,
            .menu-left .jogger-pants p,
            .menu-left .sneaker p,
            .menu-right .stylistic p {
                padding-left: 40px;
            }
        }
    }
}

@media(max-width: 991px) {
    .home-wrapper {
        .menu-section {
            .menu-left .jacket-denim-tshirt p,
            .menu-left .jogger-pants p,
            .menu-left .sneaker p,
            .menu-right .stylistic p {
                padding: 30px;
            }
            .menu-left .j1 {
                padding-right: 0;
            }
            .menu-left .j2 {
                padding-left: 0;
            }
            .menu-left .jogger-pants,
            .menu-left .sneaker {
                height: 140px;
            }
        }
        .featured-products-section .product,
        .selling-prod-section .products .product {
            text-align: center;
        }
        .featured-products-section .product img,
        .selling-prod-section .products .product img {
            margin: auto;
        }
        .selling-prod-section .products {
            margin-top: 30px;
        }
        .fashion-blog-section .blog {
            margin-bottom: 15px;
        }
        .fashion-blog-section .blog .blog-body .content {
            max-height: 260px;
        }
        .sale-section .discount .time a {
            padding: 20px 45px;
        }
    }
    .home-wrapper .register .register_mail{
        padding-left: 0;
    }
    .home-wrapper .register .form_mail{
        padding-right: 0;
    }
}

@media(max-width: 767px) {

    .home-wrapper .banner-footer-section p {
        padding: 100px;
    }
    .home-wrapper .banner-footer-section p a {
        font-size: 30px;
    }
    .home-wrapper .fashion-blog-section .blog .blog-body {
        padding: 0;
        margin-top: 15px;
    }
}

@media(max-width: 666px) {
    .home-wrapper .sale-section .discount .time a {
        padding: 20px 7px;
        font-size: 14px;
    }
}

@media(max-width: 456px) {
    .home-wrapper .selling-prod-section .selling-top .categories select {
        margin: 0;
        top: 50px;
        left: 0;
        width: 100%;
    }
    .home-wrapper .selling-prod-section .products {
        margin-top: 60px;
    }
}

@media(max-width: 339px) {
    .home-wrapper .featured-products-section .paginate ul li {
        padding: 0 15px;
    }
}
@media (min-width: 992px) {
    .register{
        display: flex;
        padding: 20px 0;
    }
}