.listproducts_wrapper {
    .banner-section {
        padding: 100px 170px;
        @extend %background-image;
        @extend %background-dark;
        width: 100%;
        margin-bottom: 35px;
        p a,
        p {
            color: $white;
            font-family: $lato-bold;
            font-size: 24px;
        }
        p .active {
            color: $red;
        }
    }
    .main-section {
        .menu h1 {
            padding: 10px 15px;
            font-family: $lato-bold;
            font-size: $medium;
            border-left: 10px solid $red;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .menu .menu-main {
            border: 1px solid black;
        }
        .menu .menu-main p {
            padding: 25px 30px 0 30px;
            margin: 0;
        }
        .menu .menu-main label {
            font-family: $lato-bold;
            font-size: 12px;
        }
        .menu .menu-main #amount {
            font-size: 11px;
            float: right;
            text-align: right;
            border: 0;
        }
        .menu .menu-main #slider-range {
            margin: 0 30px;
            margin-bottom: 30px;
            height: 3px;
            background-color: #cccccc;
            border: 0;
        }
        .menu .menu-main #slider-range .ui-state-default,
        .ui-widget-content .ui-state-default {
            border-radius: 50%;
            background-color: $white;
        }
        .menu .menu-main #slider-range .ui-state-default:hover,
        .menu .menu-main #slider-range .ui-state-default:focus,
        .ui-widget-content .ui-state-default:hover,
        .ui-widget-content .ui-state-default:focus {
            background-color: $red;
        }
        .menu .menu-main #slider-range .ui-slider-range {
            background-color: $red;
            height: 4px;
        }
        .menu h2 {
            font-size: 14px;
            padding: 0 15px;
        }
        .menu ul {
            list-style: none;
            padding: 0 30px;
            margin-bottom: 50px;
        }
        .menu ul li a {
            font-size: 18px;
        }
        .products .categories {
            margin-bottom: 20px;
            padding: 0 15px;
        }
        .products .categories label {
            position: relative;
            width: 130px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: $red;
            color: $white;
            text-transform: uppercase;
            font-family: $lato-bold;
            font-size: $medium;
            margin: 0;
        }
        .products .categories select {
            position: absolute;
            top: 0;
            left: 150px;
            width: 300px;
            height: 40px;
            text-align: center;
            text-align-last: center;
            font-family: $lato-bold;
            font-size: $medium;
            margin-left: -7px;
        }
        .products .product {
            @extend %product-item;
        }
        .products .paginate {
            @extend %paginate;
            padding: 0;
            margin-bottom: 140px;
        }
        .products .paginate ul {
            float: left;
        }
    }
    // .register-email-section {
    //     margin-bottom: 60px;
    //     .register-email {
    //         border: 4px solid #ebebeb;
    //         overflow: hidden;
    //         padding: 50px 70px;
    //         .title h1 {
    //             font-size: 24px;
    //             color: $red;
    //         }
    //         .title p {
    //             font-size: 16px;
    //         }
    //         .input input {
    //             position: relative;
    //             width: 400px;
    //             height: 45px;
    //             padding: 0px 20px;
    //             font-size: 16px;
    //         }
    //         .input i {
    //             position: absolute;
    //             left: 400px;
    //             @media(max-width: 1199px) {
    //                 left: 350px;
    //                 top: 0;
    //             }
    //             font-size: 24px;
    //             color: $white;
    //             background-color: black;
    //             padding: 10px 20px;
    //             border: 1px solid black;
    //             border-bottom: none;
    //         }
    //     }
    // }
    .register{
        border: 2px solid silver;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 40px 0;
        .p1{
            font-weight: bold;
            font-size: 22px;
            color: #EE3138;
        }
        .register_mail{
            padding-left: 60px;
        }
        .form_mail{
            padding-right: 60px;
            input{
                height: 44px;
                width: 85%;
                color: silver;
                padding-left: 10px;
                margin-right: -4px;
            }
            button{
                background-color: black;
                height: 44px;
                border: none;
                color: white;
                padding-top: 12.5px;
                padding-bottom: 11.5px;
                width: 10%;
            }
        }
    }
}

@media(max-width: 991px) {
    .listproducts_wrapper .register .register_mail{
        padding-left: 0;
    }
    .listproducts_wrapper .register .form_mail{
        padding-right: 0;
    }
    .listproducts_wrapper .main-section .products .categories {
        margin-top: 30px;
    }
    .listproducts_wrapper .main-section .products .product {
        text-align: center;
    }
    .listproducts_wrapper .main-section .products .product img {
        margin: auto;
    }
    .listproducts_wrapper .main-section .products .paginate ul {
        float: none;
    }
}

@media(max-width: 767px) {
    .listproducts_wrapper .banner-section {
        padding: 50px 15px;
    }
}

@media(max-width: 550px) {
    .listproducts_wrapper .register-email-section .register-email {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 470px) {
    .listproducts_wrapper .register-email-section .register-email .input input {
        width: 100%;
    }
    .listproducts_wrapper .register-email-section .register-email .input i {
        top: 45px;
        left: 0;
        margin-top: 3px;
    }
    .listproducts_wrapper .main-section .products .paginate ul li {
        padding: 0 15px;
    }
}

@media(max-width: 456px) {
    .listproducts_wrapper .main-section .products .categories select {
        margin-left: 15px;
        top: 50px;
        left: 0;
        width: 90%;
    }
    .listproducts_wrapper .main-section .products .list-products {
        margin-top: 60px;
    }
}
@media (min-width: 992px) {
    .register{
        display: flex;
        padding: 20px 0;
    }
}
@media(max-width: 991px){
   
}