.blog-page {
    @extend %page-banner;
    @extend %section-title;
    @extend %news-blog-small;

    .news-box-large {
        .box-image {
            @extend %background-image;
            width: 100%;
        }

        .box-description {
            border: 1px solid #cccccc;
            color: $black;
        }

        .box-description .content-wrapper {
            padding-left: 14px;
        }

        .box-description .content-date {
            font-size: 12px;
            color: #636363;
            margin: 23px 0px 0px;
        }

        .box-description .content-title {
            margin: 0;
        }

        .box-description .content-title>a {
            font-family: $lato-bold;
            font-size: 24px;
            margin: 13px 0px 0px;
            height: 26px;
            overflow: hidden;
            text-overflow: ellipsis;
            @include transition(color);
        }

        .box-description .content-title>a:hover,
        .box-description .content-title>a:focus {
            color: $blog-title-hover-color;
        }

        .box-description .content-description {
            font-size: 15px;
            margin: 10px 0px 30px;
            height: 84px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    .blog-news-wrapper {
        margin-top: 24px;
    }

    .paginate {
        @extend %paginate;
        margin-bottom: 50px;
    }

    .paginate ul li {
        height: 34px;
        display: flex;
        align-items: center;
    }

    .paginate ul li a {
        font-size: 24px;
        display: block;
    }

}
