.blog-show-page {
    padding-bottom: 81px;
}

.blog-show-page {
    @extend %page-banner;
    @extend %section-title;
    @extend %news-blog-small;

    .banner {
        background-position-y: 25%;
    }

    .blog-wrapper {
        padding-top: 38px;
    }

    .blog-title {
        font-family: $lato-bold;
        font-size: 36px;
        color: $black;
        text-align: center;
        margin: 0px 0px 19px;
        line-height: 1.3;
    }

    .blog-info {
        font-size: 16px;
        color: #636363;
        margin: 0px 0px 15px;
    }

    .blog-info .date {
        margin: 0;
        text-align: right;
        padding-right: 48px;
    }

    .blog-info .author {
        margin: 0;
        padding-left: 48px;
    }

    .blog-content {
        padding-top: 35px;
    }

    .blog-content p {
        font-size: $medium;
        color: $black;
        margin: 0px 0px 27px;
    }

    .blog-content img {
        display: block;
        max-width: 100%;
        margin: 45px auto;
    }

    .blog-news-wrapper {
        padding-top: 24px;
    }

}

@media (max-width:767px) {
    .blog-show-page {
        .blog-info .date,
        .blog-info .author {
            text-align: center;
            padding: 0;
        }

    }

}

@media (max-width:575px) {
    .blog-show-page {
        .blog-title {
            font-size: 32px;
        }

    }

}

@media (max-width:480px) {
    .blog-show-page {
        .blog-title {
            font-size: 24px;
            line-height: 1.4;
        }

    }

}
