.cart_wrapper {
    .banner-section {
        padding: 100px 170px;
        @extend %background-image;
        @extend %background-dark;
        width: 100%;
        margin-bottom: 35px;
        p a,
        p {
            color: $white;
            font-family: $lato-bold;
            font-size: 24px;
        }
        p .active {
            color: $red;
        }
    }
    .cart-section {
        .title {
            display: none;
        }
        .item {
            border-top: 1px solid black;
            padding-top: 5px;
            ul {
                padding: 0;
                list-style: none;
                overflow: hidden;
                li {
                    font-size: 20px;
                    
                    p {
                        font-size: 16px;
                    }
                    p span,
                    span {
                        font-size: 14px;
                        color: #f26522;
                    }
                }
                .number-style{
                    @extend %number-style;
                }
                .quanity{
                    display: flex;
                    align-items: center;
                    .number-spinner {
                        .box {
                            padding-left: 10px;
                            padding-right: 10px;
                            color: red;
                            width: 75%;
                            display: flex;
                            button {
                                padding: 3px 10px;
                                border: none;
                                background: #fff;
                                color: white;
                                background-color: #CCCCCC;
                                font-weight: bold;
                            }
                            .reduce{
                            }
                            .plus{
                            }

                            input {
                            color: black;
                            width: 100% !important;
                            text-align: center;
                            border: 1px solid silver;
                            padding-left: 22px;
                            height: 26px;
                            font-size: 13px;
                         }
                     }
                 }

             }
         }

     }

     p.sum {
        border-top: 1px solid $black;
        margin-top: 30px;
        font-size: 21.9px;
        span {
            color: $red;
        }
    }
    .button {
        display: block;
        width: 100%;
        height: 40px;
        background-color: $black;
        color: white;
        line-height: 40px;
        text-align: center;
        margin-bottom: 5px;
        font-size: 13.39px;
        &:hover,
        &:focus {
            background-color: darken($white, 80%);
        }
    }
}
}

@media(max-width: 767px) {
    .cart_wrapper .banner-section {
        padding: 50px 15px;
    }
}

@media(min-width: 992px) {
    .cart_wrapper {
        .cart-section {
            .title {
                display: block;
                ul {
                    padding: 0;
                    list-style: none;
                    width: 100%;
                    overflow: hidden;
                    border: 1px solid $grey;
                    margin: 0;
                }
                ul li {
                    float: left;
                    font-size: 14px;
                    color: #f26522;
                    text-align: center;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    &:first-child() {
                        width: 10%;
                    }
                    &:nth-child(2) {
                        width: 20%;
                    }
                    &:nth-child(3) {
                        border-left: 1px solid $grey;
                        width: 20%;
                    }
                    &:nth-child(4) {
                        border-left: 1px solid $grey;
                        width: 10%;
                    }
                    &:nth-child(5) {
                        border-left: 1px solid $grey;
                        width: 20%;
                    }
                    &:nth-child(6) {
                        border-left: 1px solid $grey;
                        width: 20%;
                    }
                }
            }
            .item {
                border: none;
                padding: 0;
                ul {
                    width: 100%;
                    border: 1px solid $grey;
                    border-top: none;
                    margin: 0;

                }
                ul li {
                    float: left;
                    height: 200px;
                    a i {
                        font-size: 18px;
                        color: #7d7d7d;
                    }
                    p {
                        text-align: center;
                        margin: 0;
                        margin-top: 60px;
                    }
                    .size {
                        text-align: left;
                        margin-left: 46px;
                        margin-top: 35px;
                    }
                    &:first-child() {
                        width: 10%;
                        text-align: right;
                        line-height: 162px;
                    }
                    &:nth-child(2) {
                        width: 20%;
                        padding-left: 40px;
                        line-height: 200px;
                    }
                    &:nth-child(3) {
                        border-left: 1px solid $grey;
                        width: 20%;
                    }
                    &:nth-child(4) {
                        border-left: 1px solid $grey;
                        width: 10%;
                        text-align: center;
                    }
                    &:nth-child(5) {
                        border-left: 1px solid $grey;
                        width: 20%;
                    }
                    &:nth-child(6) {
                        border-left: 1px solid $grey;
                        width: 20%;
                    }
                }
                ul li span.child-title {
                    display: none;
                }
            }
            p.sum {
                text-align: right;
                padding-right: 40px;
                border: none;
            }
            .button {
                float: right;
                padding: 0 30px;
                width: auto;
                margin-left: 3px;
                margin-bottom: 60px;
            }
        }
    }
}

@media(max-width: 991px){
    .cart_wrapper .cart-section .item ul .quanity input {
        margin-top: 0;
    }
}
@media(max-width: 1199px){
     .cart_wrapper .cart-section .item ul .quanity .number-spinner .box{
        width: 70%;
    }
}
@media(max-width: 991px){
     .cart_wrapper .cart-section .item ul .quanity .number-spinner .box{
        width: 40%;
    }
}