.checkout-page {
    @extend %page-banner;

    .checkout-page-title {
        font-family: $lato-bold;
        font-size: 18px;
        text-transform: uppercase;
        color: $black;
        margin: 34px 0px 0px;
    }

    .order-info-wrapper {
        margin-bottom: 68px;
    }

    .order-wrapper {
        padding-top: 23px;
    }

    .order-wrapper .order-item {
        border-bottom: 1px solid #e1e1e1;
    }

    .order-product-wrapper,
    .order-plus-info,
    .order-total {
        font-size: $medium;
    }

    .order-product-wrapper,
    .order-plus-info {
        font-size: $medium;
        color: #363636;
    }

    .order-product-wrapper {
        margin-bottom: 23px;
    }

    .order-product-image-wrapper {
        border: 1px solid #cacaca;
        width: 83px;
        height: 111px;
    }

    .order-product-image {
        max-width: 100%;
        @extend %background-image;
    }

    .product-info-wrapper {
        padding-left: 20px;
    }

    .product-info-wrapper,
    .product-price-wrapper {
        height: 111px;
    }

    .product-info {
        font-family: $lato-bold;
        margin: 0;
    }

    .product-price {
        margin: 0;
    }

    .product-price-wrapper {
        padding-bottom: 22px;
    }

    .price,
    .product-price-wrapper {
        width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .name,
    .price {
        padding: 9px 0px;
    }

    .order-total {
        color: $red;
    }

    .form-header {
        font-family: $lato-bold;
        font-size: 16px;
        color: $black;
        text-align: center;
        text-transform: uppercase;
    }

    .customer-info-wrapper {
        border: 1px solid #b7b7b7;
        padding: 45px 39px 33px;
    }

    .customer-info-title {
        margin: 0px 0px 36px;
    }

    .customer-info-wrapper .form-input {
        display: block;
        border: 1px solid #b7b7b7;
        padding: 8px 7px;
        width: 100%;
        margin-bottom: 8px;
        font-size: 16px;
    }

    .customer-info-wrapper .form-input::-webkit-input-placeholder,
    .customer-info-wrapper .form-input::-moz-placeholder,
    .customer-info-wrapper .form-input::-ms-input-placeholder,
    .customer-info-wrapper .form-input::placeholder {
        color: #b7b7b7;
    }

    .customer-info-wrapper input.form-input {
        margin-bottom: 21px;
    }

    .customer-info-wrapper textarea.form-input {
        height: 91px;
    }

    .payment-title {
        margin-bottom: 59px;
    }

    .payment-wrapper .payment-atm {
        float: right;
    }

    .payment-wrapper .payment-cash {
        float: left;
    }

    .payment-wrapper .payment-input {
        width: 198px;
        text-align: center;
    }

    .payment-wrapper .radio-container {
        margin-bottom: 10px;
    }

    .payment-wrapper .payment-input {
        margin-bottom: 15px;
    }

    .payment-wrapper label.payment-input {
        font-size: $medium;
        color: $black;
    }

    .payment-wrapper .center-item {
        margin-right: auto;
        margin-left: auto;
    }

    .payment-wrapper .submit-btn-wrapper {
        text-align: center;
        margin-bottom: 80px;
    }

    .payment-wrapper .submit-btn {
        @extend %submit-btn;
    }

}

@media (min-width:992px) {
    .checkout-page {
        .product-info-wrapper {
            width: 144px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

}

@media (max-width:991px) {
    .checkout-page {
        .customer-info-wrapper {
            border: 0;
        }

    }

}

@media (max-width:767px) {
    .checkout-page {
        .order-info-wrapper {
            margin-bottom: 20px;
        }

        .payment-wrapper .payment-atm {
            float: none;
        }

        .payment-wrapper .payment-cash {
            float: none;
        }

        .payment-wrapper .left-item,
        .payment-wrapper .right-item {
            margin-right: auto;
            margin-left: auto;
        }

    }

}

@media (max-width:480px) {
    .checkout-page {
        .customer-info-wrapper {
            padding: 45px 0px 33px;
        }

    }

}

@media (max-width:400px) {
    .checkout-page {
        .order-product-image-container {
            width: 100%;
        }

        .product-info-wrapper,
        .product-price-wrapper {
            height: auto;
            margin-top: 5px;
        }

        .product-info-wrapper {
            padding-left: 0;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

}
