.contact-page {
    @extend %page-banner;

    .maps {
        display: block;
    }

    .contact-form-wrapper {
        @extend %background-image;
        @extend %background-dark;
    }

    .contact-form {
        padding: 47px 66px 44px;
        background: $white;
    }

    .contact-form>p {
        font-size: $medium;
        color: $black;
        margin: 0px 0px 15px;
    }

    .contact-form>p.form-title {
        font-weight: bold;
    }

    .contact-form>p.separator {
        margin-bottom: 35px;
    }

    .contact-form .form-input {
        display: block;
        border: 1px solid #cccccc;
        padding: 8px 21px;
        width: 100%;
        margin-bottom: 8px;
        font-size: 18px;
    }

    .contact-form .form-input::-webkit-input-placeholder,
    .contact-form .form-input::-moz-placeholder,
    .contact-form .form-input::-ms-input-placeholder,
    .contact-form .form-input::placeholder {
        color: #a1a1a1;
    }

    .contact-form textarea {
        height: 88px;
    }

    .contact-form .submit-btn {
        @extend %submit-btn;
    }

}

@media (max-width:991px) {
    .contact-page {
        .contact-form .submit-btn-wrapper {
            text-align: center;
        }

    }

}

@media (max-width:480px) {
    .contact-page {
        .contact-form {
            padding-left: 15px;
            padding-right: 15px;
        }

    }

}
